timm
openslide-python
openslide-bin
tifffile
numba
hyperspy[all]
pywavelets
pandas
pyarrow
seaborn
statannotations
scikit-learn
scikit-image
opencv-python-headless
imagecodecs
jupyter
ipywidgets
jupytext
empanada-dl --no-deps